
*.py

*.pyc

build/.lock-waf_darwin_build

.lock-waf_darwin_build

*.pbw

*.pbpack

*.log

*.bin

*.elf

*.map

*.data

*.manifest

*.table

*.pfo

*.pbi

*.o

build/src/resource_ids.auto.h

include

lib

pebble_app.ld

tools

waf

wscript

build/.wafpickle-98
